body {
    margin: 5px;
    margin-top: 50px;
    font-family: helvetica;
    color:rgb(30, 32, 30);
    ;
    
}


header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #fffdfd;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-right: 20px;
}

section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    
    background-size: cover; /* Add this line */
    background-position: center center; /* Add this line */
    background-repeat: no-repeat; /* Add this line */
    background-attachment: fixed; /* Add this line */
}


footer {
    text-align: center;
    padding: 50px;
}

#hhome  {
    font-size: 2.5em;
}


body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* Ensure content is above the background */
  z-index: 1;
}
 

body ::after{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('../images/Monet_siene.jpg') center center;
  background-size: auto;
  /* opacity: 0.5; */
  z-index: -1;
  pointer-events: none;
}

footer ::after {
    position:absolute;
    width:100%;
    bottom:0px;
     color:rgb(74, 80, 74);
    text-align: center;
}

footer p ::after{
    position:absolute;
    width:100%;
    bottom:0px;
     color:rgb(74, 80, 74);
    /* text-align: center; */
}
h1{
    text-align: center;

}
p {
    text-align: center;
}
a{
    text-align: center;
}

footer p {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* background-color: #f1f1f1; */
    text-align: center;
    padding: 10px 0;
}

